/* Set all parents to full height */
html, body,
.container,
.cbp-fbscroller,
.cbp-fbscroller section {
	height: 95%;
margin: 0;
}


/* background-attachment does the trick */
.cbp-fbscroller section {
	position: relative;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}

.no-touch .cbp-fbscroller section {
	background-attachment: fixed;
}



header {
max-height: 20vh;
background-color: #fff;
text-align: center;
top: 0;
left: 0;
right: 0;
padding: 2em;
z-index: 5;
color: #000000;
}

.logo_header {

}

.logo_header img {
width: 70px;
}

.menu2 a{
  position: absolute;
  display: block;
  right:0;
top: 0;
margin: 20px;
padding: 25px;
background-image: url("images/menu-bleu-03.svg");
background-size: contain;
background-repeat: no-repeat;
background-position: center;
z-index: 6;
}



.menu2 a:hover{
  background-image: url("images/menu-jaune-03.svg");

}


#fbsection1 {
	background-color: #8a5ea4;
	margin: 0 auto;
	position: relative;

}


.paragraphe {
	position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
		padding: 450px;
	text-align: center;
	justify-content: center;
	display: block;
margin: 0;
color: #fff;
	width: 100%;

}

.paragraphe p {
	display: flex;
	justify-content: center;
	text-align: center;
	align-self: center;

}


#fbsection2 {
	background-image: url(../images/Triomemo/logo.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
background-color: #fff;
height: 90vh;
}

#fbsection3 {
	background-image: url(../images/Triomemo/couleurs.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-color: #fff;
	background-position: left;

	position: relative;
}

.paragraphe3 {
	position: absolute;
	display: block;
color: #000000;
text-align: left;
right: 0;
padding: 70px;
margin: 0 auto;
top: 50%;
transform: translateY(-50%);
width: 50%;

}

.paragraphe3 p {
	display: flex;


}

#fbsection4 {
	background-image: url(../images/Triomemo/3-cartes.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
background-color: #fff;
min-height: 90vh;
}

#fbsection5 {
	background-image: url(../images/Triomemo/plateau.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
background-color: #fff;
min-height: 90vh;

}

#fbsection6 {
	background-color: #8a5ea4;
	margin: 0 auto;
	position: relative;

}

.paragraphe4 {
	position: absolute;
	  top: 50%;
	  transform: translateY(-50%);
		padding: 450px;
	text-align: center;
	justify-content: center;
	display: block;
margin: 0;
color: #fff;
	width: 100%;

}

.paragraphe4 p {
	display: flex;
	justify-content: center;
	text-align: center;
	align-self: center;

}
#fbsection7 {
	background-image: url(../images/Triomemo/affiche_chaumont.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
background-color: #fff;
	min-height: 95vh;
}


#fbsection8{
	max-height: 10vh;

}


	/*footer*/
	.pied {
	max-height: 10vh;
	  background-color: #fff;
	  margin: 0;
	  padding: 10px;
	bottom: 0;
	left: 0;
	right: 0;
	position: relative;
	text-align: left;
	justify-content: center;

	}

	.pied a{

	  background-image: url("images/fleche-haut-02.svg");
	background-repeat: no-repeat;
	background-size: contain;
	  display: block;
	padding: 20px;
	background-position: center;
	justify-content: center;

	}

	.pied a:hover {
	  background-image: url("images/fleche-haut-hover-02.svg");

	}

	.pied p{
	  font-size: 0.6em;

	}
@media (max-width: 1150px) {

	.paragraphe {
		position: absolute;
		  top: 50%;
		  transform: translateY(-50%);
			padding: 40px;
		text-align: center;
		justify-content: center;
		display: block;
	margin: 0;
	color: #fff;
		width: 100%;

	}

	.paragraphe p {
		display: flex;
		justify-content: center;
		text-align: center;
		align-self: center;

	}

	.paragraphe3 {
		position: absolute;
		display: block;
	color: #000000;
	text-align: left;
	padding: 40px;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
width: 100%;
	}

	.paragraphe3 p {
		display: flex;


	}
	.paragraphe4 {
		position: absolute;
		  top: 50%;
		  transform: translateY(-50%);
			padding: 40px;
		text-align: center;
		justify-content: center;
		display: block;
	margin: 0;
	color: #fff;
		width: 100%;

	}

	.paragraphe4 p {
		display: flex;
		justify-content: center;
		text-align: center;
		align-self: center;

	}
	#fbsection4 {
		background-image: url(../images/Triomemo/3-cartes-mobile.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	background-color: #fff;
	min-height: 90vh;
	}
}
