*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: #1455bc;
	margin: 0;
}

a {
	text-decoration: none;
	color: #ffdf14;
	outline: none;
}

a:hover,
a:focus {
	color: #fff;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}



/* Demo links */

.demos {
	margin: 0 1em 0 auto;
}

.demo {
	margin: 0 1em 0.5em 0;
	padding: 0 0 0.25em;
	border-bottom: 2px solid transparent;
}

.demos .demo--current {
	border-color: currentColor;
}

/* Content */

.content {
	text-align: center;
}

.content--full {
	height: 100vh;
	min-height: 600px;
	overflow: hidden;
}

.flexy {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
}

.flexy--center {
	justify-content: center;
}

.flexy--row {
	flex-direction: row;
}


/* Slideshow */

.slideshow {
	position: relative;
	width: 100%;
	height: calc(100vh - 5.5em);
}

.slide {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 0 1em 0;
	pointer-events: none;
}

.js .slide {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	margin: 0;
	pointer-events: none;
	opacity: 0;
}

.js .slide--current {
	pointer-events: auto;
	opacity: 1;
}




.logo {
	margin-top: 200px;
	color: #fff;
}
.logo img {
	width: 300px;
	z-index: 5;
}

.logo h4 {
	line-height: 1.5;
	padding-top: 10px;
}

.slide .mirror {
	position: absolute;
	top: 50%;
	width: 100%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}

.slideshow__nav {
	position: absolute;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-end;
	bottom: 0;
	right: 0;
	padding: 0 2em 1em;
	overflow: hidden;
}

.slideshow__nav--inline {
	display: block;
	top: 70vh;
	left: 0;
	width: 100%;
	pointer-events: none;
}

.slideshow__nav--inline .btn {
	display: inline-block;
	margin: 0 1em;
	pointer-events: auto;
}

.slideshow__nav--nopad {
	padding: 0;
}

.btn {
	background-color: none;
	height: 40px;
	width: 160px;
	text-align: center;
	padding : 8px;
	text-decoration: none;
	border: 2px solid #ec6d80;
	color: #ec6d80;
	background: 0;
text-transform: uppercase;
	margin: 0;
	display: block;
	position: relative;
	color: inherit;
	transition: border-color 0.3s;
}

.btn:focus {
	outline: none;
}

.btn--current {
	border-color: currentColor;
}

.btn--nav:last-child {
	margin-bottom: 0;
}

.btn--line {
	width: 100%;
	text-align: right;
	padding: 0.15em 30px 0.15em 0;
	transition: color 0.3s;
}

.btn--line::before {
	content: '';
	width: 10px;
	height: 2px;
	position: absolute;
	right: 0;
	top: 50%;
	z-index: -1;
	margin-top: -1px;
	background: #ec6d80;
	transition: transform 0.3s;
}

.btn--line.btn--current {
	border-color: transparent;
	color: #fff;
}

.btn--line.btn--current::before {
	transform: scale3d(26, 20, 1);
}



#menu {
	height: 100vh;
	background-color: #1455bc;
	margin: 0;
}


/* Themes */

.js body.demo-3::before {
	background: #a4b7e4;
	color: #fff;
}

.demo-3 a {
	color: #fff;
}

.demo-3 a:hover,
.demo-3 a:focus {
	color: #fff;
}

.demo-3 .demo,
.demo-3 .github {
	color: #2d3f61;
}

.demo-3 .slide {
	mix-blend-mode: color-burn;
}

.demo-3 .slideshow__nav {
	left: 0;
	right: auto;
}

.demo-3 .mirror {
	opacity: 0.25;
}

.demo-3 .mirror__side {
    padding: 4em 0;
}

.demo-3 .slide__title {
	color: #2d3f61;
	font-family: Raleway, sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 7em;
}

.demo-3 .slideshow__nav .btn {
	color: #ec6d80;
}

.demo-3 .slideshow__nav .btn:hover {
	color: #fff;
}

.demo-3 .mirror__img {
	max-height: 65vh;
}


@media screen and (max-width: 50em) {

	.slideshow__nav {
		width: 100%;
		padding: 0;

		display: block;
	}


	.mirror__side.mirror__side--one{
		padding-bottom: 100px;
	}

	.mirror__side.mirror__side--two{
		padding-bottom: 100px;
	}
	.logo {
		margin-top: 200px;
		color: #fff;
	}
	.logo img {
		width: 200px;
		z-index: 5;
	}

	.logo h4 {
		font-size: 0.8em;

		padding-top: 90px;
	}
	.logo h5 {
		font-size: 0.8em;
	}

	.content.content--full {
		padding: 0;
	}
}
